.menu_item.current{
	border-bottom: 1px solid;
}

#content.blog-content{
	max-width: 590px;	
}

.post{
	border-bottom: 1px solid;
	margin-bottom: 5em;
	padding-bottom: 5em;
}
.post h2{
	font-weight: bold;
}
.post img{
	max-width: 100%;
}


.tags a{
	padding: 0.2em 0.5em;
	background-color: black;
	color: white;
}

#tagCloud {
	margin-left: 2%;
	position: fixed;
}

.tc-item{
	margin-bottom: 1em;
	font-family:'Calibre-Medium';
}

